<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="">
	<resultMap type="Member" id="memberResultSet">
		<!-- 
		MEMBER_ID VARCHAR2(30) PRIMARY KEY,

MEMBER_PWD VARCHAR2(100) NOT NULL,

MEMBER_NM VARCHAR2(15) NOT NULL,

MEMBER_ENROLL_DT DATE DEFAULT SYSDATE
private String memberId;
	private String memberPwd;
	private String memberName;
	private Date memberEnrollDate; // (import : java.sql.Date)
		
		 -->
		 
		 <id property="memberId" column="MEMBER_ID"/>
		 <result property="memberPwd" column="MEMBER_PWD"/>
		 <result property="memberName" column="MEMBER_NM"/>
		 <result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
	</resultMap>
	
	
	
</mapper>

